<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>My Blogs</h1>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ blog.name }}</h5>
                            <p class="card-text">Content: {{ blog.content}}</p>
                            <p class="card-text">Author: {{ blog.author}}</p><br>
                            <button id="likeButton" onclick="like()">Like</button>
                            <button id="dislikeButton" onclick="dislike()">DisLike</button>
                            <div id="commentSection">
                                <h2>Comment</h2>
                                <input type="text" id="commentInput" placeholder="Add your comment">
                                <button onclick="addComment()">Submit</button>
                            </div><br><br>
                            <small class="card-text">Created date: {{ blog.created_date }}</small> <br>
                            <small class="card-text">Modified date: {{ blog.modified_date }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts here (if needed) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>